<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Learning</title>
</head>
<body>
    <div id="app">
        <h1>My first learn of Vue.js</h1>
        <p>I'm {{name}} {{lastName}}</p>

        <ul>
            <li v-for="(product,index) in products" :key="index">
                <p>{{product.title}}</p>
                <strong v-if="product.starts > 0">{{product.starts}}</strong>
                <img v-bind:src="product.image" v-bind:alt="product.title" style="width: 100px;" >
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>